<!--from /views/partials/head -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Socialify</title>
<link rel="stylesheet" src="css/normalize.css" />
<link rel="stylesheet" href="css/bStrap.css">
<link rel="stylesheet" href="css/fa/css/fontA.css">
<link rel="stylesheet" href="css/styles.css">
<style>
  .errMsg {
    font-family: monospace;
    color: red;
    font-weight: bold;
  }
</style>
<script src="js/jQ-2.js"></script>
<script src="js/bStrap.js"></script>
