<!--start app-contacts component core template-->
<section id="app-contacts" class="col-xs-8">
  <div class="row">
    <span v-show="!hasFriends" class="pull-right">You have no friends to show</span>
  </div>
  <!--start control btns-->
  <div class="row" id="app-contact-triggers">
      <a class="btn btn-primary btn-default"
      @click.stop.prevent="doSearch">Search for friends...</a>
      <a class="btn btn-primary btn-default"
      @click.stop.prevent="enableFriendsList" v-el:friend-list-btn>Show friends list...</a>
  </div>
  <span id="search-4-friends-Modal-Btn" data-toggle="modal"
  data-target="#search-4-friends-Modal"></span>
  <span id="show-friends-list-Modal-Btn" data-toggle="modal"
  data-target="#show-friends-list-Modal"></span>
  <span id="show-friends-list-search-results-Modal-Btn" data-toggle="modal"
  data-target="#show-friends-list-search-results-Modal"></span>
  <!--end control btns-->
  <!--start search for friends form-->
  <section id="friends-search" v-show="showSearch">
    <h4>Search for your friends on Socialify...</h4>
    <form>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name"
        placeholder="e.g. John" v-model="friendFirstName">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input class="form-control" type="text" id="last-name" v-model="friendLastName"
        placeholder="e.g. Doe">
      </div>
      <div class="form-group">
        <label for="friend-email">Email</label>
        <input class="form-control" type="text" id="friend-email" v-model="friendEmail"
        placeholder="e.g. john@doe.com">
      </div>
      <button type="submit" class="btn btn-success btn-default"
      @click.stop.prevent="submitSearch">Search!</button>
      <button type="submit" class="btn btn-danger btn-default"
      @click.stop.prevent="discardSearch">Discard!</button>
    </form>
  </section>
  <!--end search for friends form-->
  <span v-show="showSearchResultMsg" class="infoMsg">Friend search result: {{searchResultMsg}}</span>
  <span v-show="showErrMsg" class="errMsg">Please create a search or discard the attempt!</span>
  <!--start show friends list-->
  <section id="show-friends-list">
    <!--start search friends list-->
    <div v-show="friendListSearch" id="friend-list-search">
      <h4>Search your friend's list...</h4>
      <form>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name"
          placeholder="e.g. John" v-model="friendSearchFirstName">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input class="form-control" type="text" id="last-name" v-model="friendSearchLastName"
          placeholder="e.g. Doe">
        </div>
        <div class="form-group">
          <label for="friend-email">Email</label>
          <input class="form-control" type="text" id="friend-email" v-model="friendSearchEmail"
          placeholder="e.g. john@doe.com">
        </div>
        <button type="submit" class="btn btn-success btn-default"
        @click.stop.prevent="submitFriendsSearch">Search!</button>
        <button type="submit" class="btn btn-danger btn-default"
        @click.stop.prevent="discardFriendsSearch">Discard!</button>
      </form>
      <span v-show="showFriendsListMsg">{{friendsListMsg}}</span>
    </div>
    <!--end search friends list-->
    <span v-show="showFriendsErrMsg">There was an error showing your friends, please try later!</span>
    <span v-show="showRemoveErrMsg">There was an error removing your friend, please try later!</span>
  </section>
  <!--end show friends list-->
</section>
<!--end app-contacts component core template-->
<!--start search for friends Modal-->
<div class="modal fade" id="search-4-friends-Modal" tabindex="-1" role="dialog"
aria-labelledby="search4FriendsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-search-4-friends-Modal"
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="search-4-friends-Modal-Label">Friend search results...</h4>
      </div>
      <div class="modal-body" id="friends-results-modal-body">
        <span v-show="showLoading">Loading...</span>
        <ul class="list-group">
          <li v-for="item in resultsList" class="list-group-item">
            <figure><img :src=item.profilePhoto
              alt="{{item.firstName}}'s photo'">
            </figure>
            <p>{{item.firstName}} {{item.lastName}}</p>
            <p>{{item.email}}</p>
            <div><a class="btn btn-success btn-default"
              @click.stop.prevent="addFriend(item)">Add Friend!</a>
            </div>
            <span v-show="showErrMsg">There was an error adding your friend, please try later!</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-default" v-show="resultsList"
        @click.stop.prevent="discardSearchResults">Done</button>
      </div>
    </div>
  </div>
</div>
<!--end search for friends Modal-->
<!--start show friends list Modal-->
<div class="modal fade" id="show-friends-list-Modal" tabindex="-1" role="dialog"
aria-labelledby="showFriendsListModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-show-friends-list-Modal-btn"
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="show-friends-list-Modal-Label">Friends list...</h4>
      </div>
      <div class="modal-body" id="show-friends-list-modal-body">
        <span v-show="showLoading">Loading...</span>
        <div>
          <ul class="list-group">
            <li v-for="item in friendsListArray" class="list-group-item">
              <figure><img :src=item.profilePhoto
                alt="{{item.firstName}}'s photo'">
              </figure>
              <p>{{item.firstName}} {{item.lastName}}</p>
              <p>{{item.email}}</p>
              <div class="row">
                <div class="col-xs-6">
                  <a class="btn btn-danger btn-default"
                  @click.stop.prevent="deleteFriend(item)">Delete Friend!</a>
                </div>
                <div class="col-xs-6">
                  <a class="btn btn-success btn-default"
                  @click.stop.prevent="viewFriendHub(item)">
                  View {{item.firstName}} {{item.lastName}}s' Hub!</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-info btn-default"
        @click.stop.prevent="showfriendListSearch">Search your friends list...</a>
        <button class="btn btn-primary btn-default"
        @click.stop.prevent="hideFriendsList">Done</button>
        <span v-show="showViewHubErrMsg">There was an error processing the request,
        please try later!</span>
      </div>
    </div>
  </div>
</div>
<!--end show friends list Modal-->
<!--start search friends list results Modal-->
<div class="modal fade" id="show-friends-list-search-results-Modal" tabindex="-1"
role="dialog" aria-labelledby="showFriendsListSearchResultsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-friends-list-search-results-Modal-btn"
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="show-friends-list-Modal-Label">Friends list...</h4>
      </div>
      <div class="modal-body" id="show-friends-list-search-results-modal-body">
        <span v-show="showLoading">Loading...</span>
        <div>
          <ul class="list-group">
            <li v-for="item in friendsListArray" class="list-group-item">
              <figure><img :src=item.profilePhoto
                alt="{{item.firstName}}'s photo'">
              </figure>
              <p>{{item.firstName}} {{item.lastName}}</p>
              <p>{{item.email}}</p>
              <div><a class="btn btn-danger btn-default"
                @click.stop.prevent="deleteFriend(item)">Delete Friend!</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-default"
        @click.stop.prevent="hideFriendsListSearch">Done</button>
      </div>
    </div>
  </div>
</div>
<!--end search friends list results Modal-->
